
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 17 60% 98%;
    --foreground: 18 41% 13%;
    --card: 0 0% 100%;
    --card-foreground: 18 41% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 18 41% 13%;
    --primary: 19 90% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 19 20% 90%;
    --secondary-foreground: 18 41% 13%;
    --muted: 19 20% 94%;
    --muted-foreground: 18 10% 40%;
    --accent: 354 71% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 19 20% 90%;
    --input: 19 20% 90%;
    --ring: 19 90% 63%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
